# node client
client/node_modules
client/.env.local
client/.env.*.local
client/dist
client/coverage

# python server
.media
.static
*.pyc
server/local_settings.py
server/.secret_key
htmlcov
.coverage

# development files
db.sqlite3
