# node client
client/node_modules
client/.env.local
client/.env.*.local
client/coverage

# python server
.venv
.media
.static
*.pyc
server/settings/local.py
server/settings/.secret_key
htmlcov
.coverage
unrest

# development files
db.sqlite3
dist
