@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: white;
  --bg-alt: theme('colors.gray.200');
  --text: theme('colors.gray.900');
  --text-alt: theme('colors.gray.700');
  --border: theme('colors.gray.300');
}

.theme-dark_mode {
  --bg: theme('colors.gray.900');
  --bg-alt: theme('colors.gray.700');
  --text: theme('colors.gray.100');
  --text-alt: theme('colors.gray.300');
  --border: theme('colors.gray.800');
}

@import './card';
@import './form';
@import './grid';
@import './nav';

body {
  @apply bg-blue-200;
}

body, html, #app {
  min-height: 100%;
}

#app {
  @apply bg-bg mx-auto;
}