.ur-form__actions {
  @apply flex justify-between mb-12;
  .btn {
    @apply px-6;
  }
}

.ur-form .form-group {
  @apply mb-6;
  > label {
    @apply block text-text-alt font-bold text-sm mb-1;
    opacity: 0.8;
  }
  .form-control {
    @apply appearance-none bg-bg border leading-tight py-2 px-3 rounded shadow text-text-alt w-full;
    &:focus, &.-focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      border-color: #80bdff;
    }
    &[type=range] {
      @apply p-0 border-0 shadow-none;
    }
    input {
      background: transparent;
      color: inherit;
      &:focus {
        outline: 0;
      }
    }
  }
  &.has-error > .form-control {
    @apply border-red-500 mb-3;
  }
  [type=checkbox], [type=radio] {
    margin-right: 0.5em;
  }
  .input-group {
    @apply relative;
    &-append {
      @apply absolute;
      right: 1rem;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}

.ur-form .form-error {
  @apply text-red-500 text-sm;
}

/* this just stops the page from popping a bit as the form loads */
.ur-placeholder {
  height: 300px;
  width: 100%;
  .modal & {
    width: 229px;
    height: 20px;
  }
}

.ur-form .ur-file {
  .original, .preview {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}