.modal {
  @apply fixed h-full left-0 top-0 w-full;
}

.modal .modal-mask {
  @apply absolute bg-black cursor-pointer h-full w-full;
  --tw-bg-opacity: 0.2;
}

.modal .modal-title {
  @apply flex font-bold mb-4;
}

.modal .modal-content {
  @apply absolute bg-white;
  border-radius: 8px;
  left: 50%;
  max-height: 95%;
  max-width: 90%;
  overflow: auto;
  padding: 36px 32px 32px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal-body {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.modal-body, .modal-body .ur-form__actions {
  @apply mb-0;
}

.modal-footer {
  @apply flex justify-end;
  .btn {
    @apply ml-4;
  }
}

.router-view.modal.-relative {
  position: static;
}