.login-view, .signup-view {
  max-width: 400px;
  margin: auto;
  .bottom {
    @apply text-center;
  }
}

.home-view, .restaurant-view {
  @apply px-8;
}

.orders-view, .user-settings-view, .order-detail-view {
  @apply px-8 m-auto;
  max-width: 600px;
}